<html>

<head>
    <meta charset="utf-8" />
    <title>Hygie</title>
    <link rel="shortcut icon" type="image/png" href="/hygie/hygie-favicon.png" />

    <style>
        #header {
            font-size: 2em;
            font-family: serif;
        }

        #informations {
            font-size: 1.2em;
            font-family: serif;
        }

        a {
            text-decoration: underline;
            color: inherit;
        }

        .left {
            float: left;
        }
    </style>
</head>

<body>
    <div class="left">
        <img alt="hygie logo" src="hygie/hygie-logo.png" height="100" />
    </div>
    <div>
        <p id="header">
            <b>Hygie</b> is running!
        </p>
        <p id="informations">
            Have a look at our <a href="https://zenika-open-source.github.io/hygie/">documentation website</a> for more
            informations.
        </p>
    </div>


</body>

</html>